body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 226, 204, 0.718);
}



h1 {
    font-size: 29px;
    text-align: center;
    margin-bottom: 30px;
}

label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}


input,
select,
button {
    font-size: 20px;
    padding: 0.5em 0.6em;
    width: 100%;
    height: 2.4em;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 15px;
}

#regneart {
    cursor: pointer;
}

#beregn {
    background-color: rgba(19, 193, 19, 0.586);
    border: none;
    cursor: pointer;
}

#beregn:hover {
    background-color: rgba(19, 193, 19, 0.75);
}