body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 250px;
    background-color: rgba(249, 226, 204, 0.718);

}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

input[type=number] {
    padding: 10px;
    font-size: 20px;
    width: 80px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
}

button:disabled {
    opacity: 80%;
}

#high {
    background-color: rgb(241, 50, 50);
}

#low {
    background-color: rgb(241, 50, 50);
}

#correct {
    background-color: rgb(104, 248, 104);
    margin-top: 30px;
    width: 34%;
}

#start {
    background-color: rgb(185, 185, 185);
    margin-top: 10px;
    width: 34%;

}