html,
body {
    width: 100%;
    background-image: url("credits.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

#credits {
    background-color: rgb(99, 98, 98);
    border-radius: 5px;
    border: none;
    padding: 8px 19px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

#credits:hover {
    background-color: rgb(78, 77, 77);
}

#next {
    background-color: rgb(218, 214, 214);
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 500;
}

#next:hover {
    background-color: rgb(170, 170, 170);
}

#btn {
    display: flex;
    gap: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4rem;
}


/* NEXT EPISODE */
#whitelotus {
    width: 100%;
}