body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 226, 204, 0.718);
}

p {
    font-size: 20px;
}

#sfw {
    font-size: 18px;
    margin-top: 10px;
    background-color: rgb(220, 154, 24);
    border-color: rgb(217, 140, 40);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#sfw:hover {
    background-color: #f4b183;
    transform: scale(1.05);
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

dialog form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}